# service-home-assistant.template.yaml (traefik dynamic config file)
http:
  routers:
    homeassistant-router:
      rule: "Host(`home.${HOSTNAME}`)"
      service: homeassistant-service
      entryPoints:
        - web-secure
      tls:
        certResolver: myresolver

  services:
    homeassistant-service:
      loadBalancer:
        servers:
          - url: "http://homeassistant.lan:8123"
